.game-box {
	display: flex !important;
	flex-direction: column !important;
	height: 80% !important;
	flex-grow: 1;
	border-radius: 10px;
	border: 1px solid green;
}

.row {
	display: flex !important;
	flex: 1 !important	;
}

.snake-head {
	background-color: red;
}

.cell-common {
	margin: 1px;
	display: inline-block !important;
	border-radius: 5px;
	flex: 1;
}

.cell {
	display: inline-block !important;
}

.cell-selected {
	background-color: green;
}
