.game-box {
	display: flex !important;
	flex-direction: column !important;
	height: 80% !important;
	flex-grow: 1;
	border-radius: 3px;
	border: 3px solid #2b3818;
}

.row {
	display: flex !important;
	flex: 1 !important	;
}

.food {
	background-color: whitesmoke;
	/* width: 10px;
	height: 20px; */
	border-radius: 50% !important;
}

.snake-head {
	/* background-color: red; */
	background-color: #2b3818;
	transition: 0.1s ease;

	border-radius: 100% !important;
}

.cell-common {
	margin: 1px;
	display: inline-block !important;
	border-radius: 5px;
	flex: 1;
}

.cell {
	display: inline-block !important;
	transition: 0.5s linear;
}

.cell-selected {
	background-color: #2b3818;
}
